{% extends 'account/base_auth.html' %}
{% load account %}

{% block title %}Password Reset{% endblock %}

{% block form_title %}Password Reset{% endblock %}

{% block p_content %}
    {% if user.is_authenticated %}
        {% user_display user as user_display %}
        <span class="font-bold">Note: You are already logged in as {{ user_display }}.</span>
    {% endif %}
    Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.
{% endblock %}

{% block google_section %}{% endblock %}

{% block form_content %}
    <!-- Email field -->
    <label class="form-control w-full">
        <div class="label">
            <span class="label-text font-bold">Email</span>
        </div>
        <input type="email" name="email" placeholder="Email address" class="input input-bordered w-full" autocomplete="email" maxlength="320" required/>
        {% if form.email.errors %}
            <div class="label">
                <ul class="label-text-alt">
                    {% for error in form.email.errors %}
                        <li class="text-error">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </label>
{% endblock %}

{% block btn_content %}Reset My Password{% endblock %}
