{% extends 'account/base_auth.html' %}

{% block title %}Change Password{% endblock %}

{% block form_title %}
    {% if token_fail %}
        Bad Token
    {% else %}
        Change Password
    {% endif %}
{% endblock %}

{% if token_fail %}
    {% block p_content %}
        {% url 'account_reset_password' as passwd_reset_url %}
        The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}" class="link">new password reset</a>.
    {% endblock %}
    {% block form_section %}{% endblock %}
{% endif %}

{% block google_section %}{% endblock %}

{% block form_content %}
    <!-- Password1 field -->
    <label class="form-control w-full">
        <div class="label">
            <span class="label-text font-bold">New Password</span>
        </div>
        <input type="password" name="password1" class="input input-bordered w-full" autocomplete="new-password" required/>
        {% if form.password1.errors %}
            <div class="label">
                <ul class="label-text-alt">
                    {% for error in form.password1.errors %}
                        <li class="text-error">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </label>

    <!-- Password2 field -->
    <label class="form-control w-full mb-2">
        <div class="label">
            <span class="label-text font-bold">New Password (again)</span>
        </div>
        <input type="password" name="password2" class="input input-bordered w-full" required/>
        {% if form.password2.errors %}
            <div class="label">
                <ul class="label-text-alt">
                    {% for error in form.password2.errors %}
                        <li class="text-error">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </label>
{% endblock %}

{% block btn_content %}Change Password{% endblock %}
