{% extends 'account/base_auth.html' %}
{% load general_tags %}

{% block head %}
    {{ form.media }}
{% endblock %}

{% block title %}
    {% if is_update %}
        Update Profile
    {% else %}
        Complete Profile
    {% endif %}
{% endblock %}

{% block form_title %}
    {% if is_update %}
        Update Profile
    {% else %}
        Complete Profile
    {% endif %}
{% endblock %}

{% block google_section %}{% endblock %}

{% block menu %}{% endblock %}

{% block form_content %}
    {% get_input form.avatar %}
    {% if is_update %}
        {% get_input form.cropping %}
    {% endif %}
    {% get_input form.first_name %}
    {% get_input form.last_name %}
    {% get_input form.bio %}
{% endblock %}

{% block btn_content %}Save{% endblock %}
