{% load cropping %}

{% if user %}
    <div class="avatar {% if not user.avatar %}placeholder{% endif %} {% if user.is_online %}online{% endif %}">
        {% if user.avatar %}
            <div class="mask mask-squircle size-12 {{ avatar_styles }}">
                <img src="{% cropped_thumbnail user "cropping" scale=1 %}" alt="{{ user.get_full_name }}-avatar"/>
            </div>
        {% else %}
            <div class="bg-success text-white size-12 mask mask-squircle {{ avatar_styles }}">
                <span class="text-lg">{{ user.get_user_avatar_text }}</span>
            </div>
        {% endif %}
    </div>
{% else %}
    <div class="avatar">
        <div class="size-12 {{ avatar_styles }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M22 19.206V12c0-5.523-4.477-10-10-10S2 6.477 2 12v7.206a1.727 1.727 0 0 0 2.5 1.544a2.89 2.89 0 0 1 2.896.18a2.89 2.89 0 0 0 3.208 0l.353-.234a1.88 1.88 0 0 1 2.086 0l.353.235a2.89 2.89 0 0 0 3.208 0a2.89 2.89 0 0 1 2.897-.18A1.727 1.727 0 0 0 22 19.206" opacity="0.5"/><path fill="currentColor" d="M15 12c.552 0 1-.672 1-1.5S15.552 9 15 9s-1 .672-1 1.5s.448 1.5 1 1.5m-5-1.5c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S8.448 9 9 9s1 .672 1 1.5"/></svg>
        </div>
    </div>
{% endif %}
