{% extends 'base.html' %}
{% load cropping messenger_tags %}

{% block body %}
	<main class="min-h-screen flex flex-col items-center p-4 gap-4">
        <form method="get" class="flex justify-center w-full">
            <label class="input input-bordered flex items-center gap-2 w-full sm:w-lg">
                <input type="text" name="q" class="grow" placeholder="Search" autofocus value="{{ request.GET.q }}"
                       onfocus="let temp_value=this.value; this.value=''; this.value=temp_value"/>  <!-- To put cursor at end -->
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd"/></svg>
                </button>
            </label>
        </form>
        <ul class="menu bg-base-200 rounded-box w-full sm:w-lg h-menu flex-nowrap overflow-y-auto"
            id="chat-list" hx-get="{% url 'messenger:chat-list' %}?q={{ request.GET.q }}"
            hx-trigger="updateChatList from:body" hx-target="#chat-list" hx-swap="innerHTML">
            {% if chats or global_search_results %}
                {% include 'messenger/sidebar.html' with chats=chats %}
                {% if global_search_results %}
                    <div class="divider">Global search results</div>
                    {% for user in global_search_results %}
                        {% if not forloop.first %}
                            <div class="divider m-0"></div>
                        {% endif %}
                        <li><a class="px-2 inline">
                            <div class="flex items-center gap-3">
                                <div class="avatar">
                                    <div class="mask mask-squircle h-12 w-12">
                                        <img src="{% cropped_thumbnail user.profile "cropping" scale=1 %}" alt="{{ user.profile.get_full_name }}-avatar"/>
                                    </div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="font-bold">{{ user.profile.get_full_name }}</div>
                                    <div class="text-sm opacity-50">@{{ user.username }}</div>
                                </div>
                            </div>
                        </a></li>
                    {% endfor %}
                {% endif %}
            {% else %}
                <div class="mt-4 flex flex-col items-center gap-2">
                    <div class="text-xl font-bold">No Results</div>
                    <p>There were no results for "{{ request.GET.q }}"</p>
                </div>
            {% endif %}
        </ul>
    </main>

    <script>
        // Websockets

        const chatListSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat-list/'
        );

        chatListSocket.addEventListener('message', e => {
            document.body.dispatchEvent(new Event("updateChatList"));
        });
    </script>
{% endblock %}
