{% extends 'base.html' %}
{% load static cropping messenger_tags %}

{% block body %}
	<main class="min-h-screen flex flex-col items-center p-4 gap-4">
        <form method="get" class="flex justify-center w-full">
            <label class="input input-bordered flex items-center gap-2 w-full sm:w-lg">
                <input type="text" name="q" class="grow" placeholder="Search" autofocus value="{{ request.GET.q }}"
                       onfocus="let temp_value=this.value; this.value=''; this.value=temp_value"/>  <!-- To put cursor at end -->
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd"/></svg>
                </button>
            </label>
        </form>
        <ul class="menu bg-base-200 rounded-box w-full sm:w-lg h-menu flex-nowrap overflow-y-auto"
            id="chat-list" hx-get="{% url 'messenger:chat-list' %}?q={{ request.GET.q }}"
            hx-trigger="updateChatList from:body" hx-target="#chat-list" hx-swap="innerHTML">
            {% include 'messenger/sidebar.html' with chats=chats %}
        </ul>
    </main>

    <!-- Websockets -->
    <script src="{% static 'js/chat_list_websocket.js' %}"></script>
    <script>
        // User status

        const userStatusSocket = new WebSocket('ws://' + window.location.host + '/ws/user-status/');

        userStatusSocket.addEventListener('message', e => {
            const data = JSON.parse(e.data);
            if ({{ users_ids }}.includes(data.user_id)) {
                document.body.dispatchEvent(new Event("updateChatList"));
            }
        })
    </script>
    <script src="{% static 'js/user_status.js' %}"></script>
{% endblock %}
