{% load humanize messenger_tags %}

{% if messages %}
    {% for message in messages reversed %}
        {% if message.new_day %}
            <!-- Chat date -->
            <span class="badge badge-outline mx-auto block">{{ message.sent_at|naturalday }}</span>
        {% endif %}

        {% if forloop.first %}
            <div hx-trigger="intersect once" hx-target="#messages-box" hx-swap="afterbegin"
                 hx-get="{{ chat.get_absolute_url }}?page={{ page_obj.number|add:1 }}"
                 class="text-center my-2 loading-box">
                <div class="btn btn-circle no-animation btn-neutral">
                    <span class="loading loading-spinner loading-lg"></span>
                </div>
            </div>
        {% endif %}

        <!-- Message -->
        <div {% if message.sender == chat.other_user.user %}
            class="chat chat-start"
            {% if not message.seen_at %}
                x-intersect.once="markMessageAsRead({{ message.id }})"
            {% endif %}
        {% else %}
            class="chat chat-end"
        {% endif %}>
            {% if message.edited_at %}
                <div class="chat-header {% if message.sender == chat.other_user.user %}pl-2{% else %}pr-2{% endif %}">
                    <div class="text-xs opacity-50">
                        Edited {{ message.edited_at|get_message_time_display }}
                    </div>
                </div>
            {% endif %}
            <div class="chat-bubble break-words">
                <div dir="auto">{{ message.content|safe }}</div>
            </div>
            <div class="chat-footer opacity-50">
                {% if message.sender != chat.other_user.user and message.seen_at %}
                    Seen {{ message.seen_at|get_message_time_display }} -
                {% endif %}
                {{ message.sent_at|date:'H:i' }}
            </div>
        </div>
    {% endfor %}
{% else %}
    <span class="badge badge-lg badge-ghost absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        No messages here yet...
    </span>
{% endif %}
