{% extends 'base.html' %}
{% load static cropping general_tags humanize %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/private-chat.css' %}">
    <link rel="stylesheet" href="{% static 'css/ckeditor.css' %}">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.2.1/ckeditor5.css" crossorigin>
{% endblock %}

{% block body %}
	<main class="min-h-screen w-full">
        <div class="flex w-full relative h-full">
            <!-- Sidebar -->
            <ul class="menu bg-base-200 rounded-box flex-[2] overflow-y-auto m-2 mr-0 h-chat flex-nowrap hidden lg:flex"
                id="chat-list" hx-get="{% url 'messenger:chat-list' %}?chat-id={{ chat.id }}"
                hx-trigger="updateChatList from:body" hx-target="#chat-list" hx-swap="innerHTML">
                {% include 'messenger/sidebar.html' with chats=chats chat_id=chat.id %}
            </ul>

            <!-- Chat section -->
            <div class="flex flex-col flex-[5] h-chat m-2 gap-2">
                <!-- Navbar -->
                <div class="flex items-center bg-base-300 py-2 px-3 rounded-box gap-2">
                    <a href="/" class="block lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4"><path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" /></svg>
                    </a>
                    <!-- User avatar -->
                    <div class="flex lg:hidden">
                        {% get_user_avatar chat.other_user '!size-10' %}
                    </div>
                    <!-- User full name and last seen -->
                    <div class="flex flex-col">
                        <div class="font-bold">{{ chat.other_user.get_full_name }}</div>
                        <div class="text-xs opacity-50">
                            {% if chat.other_user.last_seen %}
                                Last seen {{ chat.other_user.last_seen|naturaltime }}
                            {% else %}
                                Last seen a long time ago
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Messages box -->
                <div id="messages-box" class="border-2 py-2 px-4 h-full rounded-box overflow-y-auto relative"
                     hx-get="{{ chat.get_absolute_url }}" hx-trigger="updateMessagesBox from:body"
                     hx-target="#messages-box" hx-swap="innerHTML"
                     x-init="$el.scrollTop = $el.scrollHeight">  <!-- To scroll to the bottom -->
                    {% include 'messenger/message-object.html' with chats=chats chat=chat %}
                </div>

                <!-- Typing indicator -->
                <div class="flex items-end gap-2" x-data>
                    <div class="w-full" id="editor-container">
                        <div class="w-full">
                            <div @keydown.enter="if (!$event.shiftKey) { $event.preventDefault(); $refs.submit.click(); }"
                                 class="max-h-48 !textarea !textarea-bordered break-words !py-0"
                                 id="editor" x-ref="input"></div>
                        </div>
                    </div>
                    <button class="btn" id="send-button" x-ref="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5"><path d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" /></svg>
                    </button>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.ckeditor.com/ckeditor5/44.2.1/ckeditor5.umd.js" crossorigin></script>
    <script>
        const ckeditor_license_key = "{{ ckeditor_license_key }}";  // Send context variable to JS
    </script>
    <script src="{% static 'js/ckeditor.js' %}"></script>
    <script src="{% static 'js/private-chat.js' %}"></script>

    <!-- Websockets -->
    <script>
        // Messages

        const messageInput = document.getElementById("editor");
        const chatId = "{{ chat.id }}";
        const senderId = "{{ request.user.id }}";
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/private-chat/'
            + chatId
            + '/'
        );

        chatSocket.addEventListener('message', e => {
            document.body.dispatchEvent(new Event("updateMessagesBox"));
        });

        chatSocket.addEventListener('close', e => {
            console.error('Chat socket closed unexpectedly');
        });

        document.getElementById('send-button').addEventListener('click', e => {
            const message = ckeditor_instance.getData().trim();
            if (message) {
                chatSocket.send(JSON.stringify({
                    "message": message,
                    "sender_id": senderId
                }));
                ckeditor_instance.setData("");
            }
        });
    </script>
    <script>
        // Chat list

        const chatListSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat-list/'
        );

        chatListSocket.addEventListener('message', e => {
            document.body.dispatchEvent(new Event("updateChatList"));
        });
    </script>
{% endblock %}
