{% extends 'base.html' %}
{% load static cropping general_tags messenger_tags humanize %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/private-chat.css' %}">
    <link rel="stylesheet" href="{% static 'css/ckeditor.css' %}">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.2.1/ckeditor5.css" crossorigin>
{% endblock %}

{% block body %}
	<main class="min-h-screen w-full">
        <div class="flex w-full relative h-full">
            <!-- Sidebar -->
            <div class="flex-[2] hidden lg:flex flex-col h-chat m-2 mr-0 gap-2">
                <form method="get">
                    <label class="input input-bordered flex items-center gap-2">
                        <input type="text" name="q" class="grow" placeholder="Search" value="{{ request.GET.q }}"
                               onfocus="let temp_value=this.value; this.value=''; this.value=temp_value"/>  <!-- To put cursor at end -->
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd"/></svg>
                        </button>
                    </label>
                </form>
                <ul class="menu bg-base-200 rounded-box overflow-y-auto h-full flex-nowrap flex"
                    id="chat-list" hx-get="{% url 'messenger:chat-list' %}?chat-id={{ chat.id }}&q={{ request.GET.q }}"
                    hx-trigger="updateChatList from:body" hx-target="#chat-list" hx-swap="innerHTML">
                    {% include 'messenger/sidebar.html' with chats=chats chat_id=chat.id global_search_results=global_search_results %}
                </ul>
            </div>

            <!-- Chat section -->
            <div class="flex flex-col flex-[5] h-chat m-2 gap-2">
                <!-- Navbar -->
                <div class="flex items-center bg-base-300 py-2 px-3 rounded-box gap-2">
                    <a href="/" class="block lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4"><path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" /></svg>
                    </a>
                    <div class="flex items-center gap-2 {% if chat.other_user %}hover:cursor-pointer{% endif %}"
                         {% if chat.other_user %}onclick="user_info.showModal()"{% endif %}>
                        <!-- User avatar -->
                        <div class="flex lg:hidden">
                            {% get_user_avatar chat.other_user '!size-10' %}
                        </div>
                        <!-- User full name and last seen -->
                        <div class="flex flex-col">
                            <div class="font-bold">
                                {% if chat.other_user %}
                                    {{ chat.other_user.get_full_name }}
                                {% else %}
                                    Deleted Account
                                {% endif %}
                            </div>
                            {% if not chat.other_user %}
                                <div class="text-xs opacity-50">Last seen a long time ago</div>
                            {% elif chat.other_user.is_online %}
                                <div class="text-xs text-primary" id="user-status">Online</div>
                            {% else %}
                                <div class="text-xs opacity-50" id="user-status">
                                    {% if chat.other_user.last_seen %}
                                        Last seen {{ chat.other_user.last_seen|last_seen_display }}
                                    {% else %}
                                        Last seen a long time ago
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Messages box -->
                <div id="messages-box" class="border-2 py-2 px-4 h-full rounded-box overflow-y-auto relative"
                     hx-get="{{ chat.get_absolute_url }}" hx-trigger="updateMessagesBox from:body"
                     hx-target="#messages-box" hx-swap="innerHTML"
                     {% if not first_unseen_id %}x-init="$el.scrollTop = $el.scrollHeight"{% endif %}>  <!-- To scroll to the bottom -->
                    {% include 'messenger/message-object.html' with chats=chats chat=chat %}
                </div>

                {% if chat.other_user %}
                    <!-- Typing indicator -->
                    <div class="flex items-end gap-2" x-data>
                        <div class="flex flex-col w-full">
                            <div id="reply-box" x-ref="replyBox" class="hidden mx-2 p-2 rounded-t-box justify-between bg-secondary-content items-center">
                                <input id="reply-message-id" type="hidden">
                                <input id="box-status" type="hidden" value="reply">
                                <div>
                                    <div id="reply-title" class="text-xs opacity-50 mb-1"></div>
                                    <div id="reply-text" class="break-all line-clamp-1"></div>
                                </div>
                                <div id="reply-close-btn" class="btn btn-sm btn-circle btn-ghost"
                                     @click="$refs.replyBox.classList.add('hidden')">✕</div>
                            </div>
                            <div class="w-full" id="editor-container">
                                <div class="w-full">
                                    <div @keydown.enter="if (!$event.shiftKey) { $event.preventDefault(); $refs.submit.click(); }"
                                         class="max-h-48 !textarea !textarea-bordered break-words !py-0"
                                         id="editor" x-ref="input"></div>
                                </div>
                            </div>
                        </div>
                        <button class="btn" id="send-button" x-ref="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5"><path d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" /></svg>
                        </button>
                    </div>
                {% endif %}
            </div>

            <!-- Forward modal -->
            <dialog id="forward_modal" class="modal">
                <div class="modal-box">
                    <h3 class="text-lg font-bold mb-4">Forward to ...</h3>
                    <div class="overflow-y-auto h-forward">
                        <table class="table">
                            {% for chat in chats %}
                                {% if chat.other_user %}
                                    <tr>
                                        <th class="w-0">
                                            <label>
                                                <input type="checkbox" class="checkbox"/>
                                                <input type="hidden" value="{{ chat.id }}"/>
                                            </label>
                                        </th>
                                        <td>
                                            <div class="flex items-center gap-3">
                                                {% get_user_avatar chat.other_user %}
                                                <div class="font-bold">{{ chat.other_user }}</div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                    <div class="modal-action">
                        <form method="dialog" class="space-x-2">
                            <button class="btn">Cancel</button>
                            <button class="btn" id="send-forward-btn">Send</button>
                        </form>
                    </div>
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>

            <!-- Delete modal -->
            {% get_modal 'delete_message_modal' 'Are you sure?' 'Do you want to delete this message?' %}

            {% if chat.other_user %}
                <!-- User information modal -->
                <dialog id="user_info" class="modal">
                    <div class="modal-box">
                        <form method="dialog">
                            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                        </form>
                        <h3 class="text-lg font-bold">User Information</h3>
                        {% include 'messenger/chat-detail.html' with user=chat.other_user current_chat=chat %}
                    </div>
                    <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                    </form>
                </dialog>
            {% endif %}

            <!-- Context menu -->
            <ul class="menu gap-1 absolute bg-base-200 rounded-box w-56 shadow-lg wrapper invisible opacity-0 scale-90
            transition-all duration-300 z-10"></ul>
        </div>
    </main>

    <script src="https://cdn.ckeditor.com/ckeditor5/44.2.1/ckeditor5.umd.js" crossorigin></script>
    <script>
        const ckeditor_license_key = "{{ ckeditor_license_key }}";  // Send context variable to JS
        const currentUserName = "{{ request.user.profile.get_full_name }}";
        const otherUserName = "{{ chat.other_user.get_full_name }}";
    </script>
    <script src="{% static 'js/ckeditor.js' %}"></script>
    <script src="{% static 'js/private-chat.js' %}"></script>
    <script src="{% static 'js/context-menu.js' %}"></script>
    {% if first_unseen_id %}
        <script>
            const unseenPageNumber = {{ unseen_page_number }};
            const firstUnseenId = {{ first_unseen_id }};

            if (unseenPageNumber) {
                const messagesBox = document.getElementById('messages-box');

                // Function to load a specific page
                const loadPage = (pageNumber) => {
                    return fetch(`{{ chat.get_absolute_url }}?page=${pageNumber}&ajax=true`)
                        .then(response => response.text())
                        .then(html => {
                            const fragment = document.createRange().createContextualFragment(html);
                            return fragment;
                        });
                };

                // Function to load all pages up to the unseen page
                const loadAllPages = async () => {
                    const fragments = [];

                    // Load all pages from 1 to unseenPageNumber
                    for (let i = 1; i <= unseenPageNumber; i++) {
                        const fragment = await loadPage(i);
                        fragments.push(fragment);
                    }

                    // Clear the messagesBox and append all fragments in order
                    messagesBox.innerHTML = ''; // Clear existing content
                    fragments.forEach(fragment => {
                        messagesBox.appendChild(fragment);
                    });

                    // Wait for the DOM to update
                    setTimeout(() => {
                        const unseenMessage = document.getElementById(`message-${firstUnseenId}`);

                        // Add divider before unseen messages
                        const divider = document.createElement('div');
                        divider.classList.add('divider');
                        divider.innerText = 'Unread messages';
                        unseenMessage.parentNode.insertBefore(divider, unseenMessage);

                        // Scroll to the first unseen message
                        if (unseenMessage) {
                            unseenMessage.scrollIntoView({block: "center"});
                        }
                    }, 100); // Adjust the delay if needed
                };

                // Start loading all pages
                loadAllPages().catch(error => {
                    console.error('Error loading pages:', error);
                });
            }
        </script>
    {% endif %}

    <!-- Websockets -->
    {% if chat.other_user %}
        <script>
        // Messages

        const messageInput = document.getElementById("editor");
        const chatId = "{{ chat.id }}";
        const senderId = {{ request.user.id }};
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/private-chat/'
            + chatId
            + '/'
        );

        let websocket_type = ""
        chatSocket.addEventListener('message', e => {
            const data = JSON.parse(e.data);
            websocket_type = data.action
            if (data.user_id !== senderId) {
                document.body.dispatchEvent(new Event("updateMessagesBox"));
            }
        });

        chatSocket.addEventListener('close', e => {
            console.error('Chat socket closed unexpectedly');
        });

        document.getElementById('send-button').addEventListener('click', e => {
            const message = ckeditor_instance.getData().trim();
            if (message) {
                chatSocket.send(JSON.stringify({
                    "type": "message",
                    "message": message,
                    "sender_id": senderId,
                    "reply": replyMessageId.value && !replyBox.classList.contains('hidden') && boxStatus.value === 'reply' ? +replyMessageId.value : '',
                    "edit": replyMessageId.value && !replyBox.classList.contains('hidden') && boxStatus.value === 'edit' ? +replyMessageId.value : ''
                }));
                ckeditor_instance.setData("");
                replyBox.classList.add('hidden');
                replyBox.classList.remove('flex');
            }
        });

        document.getElementById('delete-btn').addEventListener('click', e => {
            chatSocket.send(JSON.stringify({
                "type": "delete",
                "message_id": +messageTarget.id.replace('message-', ''),
                "user_id": senderId
            }));
        })

        document.getElementById('send-forward-btn').addEventListener('click', e => {
            const selectedChats = [];
            document.querySelectorAll(".table input[type='checkbox']:checked").forEach(checkbox => {
                const chatId = +checkbox.parentElement.children[1].value;
                if (chatId) {
                    selectedChats.push(chatId);
                }
            });
            chatSocket.send(JSON.stringify({
                "type": "forward",
                "message_id": +messageTarget.id.replace('message-', ''),
                "user_id": senderId,
                "chats": selectedChats
            }));
        })

        function waitForSocketConnection(callback) {
            const interval = setInterval(() => {
                if (chatSocket.readyState === WebSocket.OPEN) {
                    clearInterval(interval);
                    callback();
                }
            }, 100); // Check every 100 milliseconds
        }

        function markMessageAsRead(message_id) {
            waitForSocketConnection(() => {
                chatSocket.send(JSON.stringify({
                    "type": "seen",
                    "message_id": message_id,
                    "user_id": senderId
                }));
            })
        }
    </script>
    {% endif %}
    <script src="{% static 'js/chat-list-websocket.js' %}"></script>
    <script>
        // User status

        const userStatusSocket = new WebSocket('ws://' + window.location.host + '/ws/user-status/');

        {% if chat.other_user %}
            const userStatus = document.getElementById('user-status');

            userStatusSocket.addEventListener('message', e => {
                const data = JSON.parse(e.data);

                if ({{ users_ids }}.includes(data.user_id)) {
                    document.body.dispatchEvent(new Event("updateChatList"));
                }

                if (data.user_id === {{ chat.other_user.user.id }}) {
                    if (data.is_online) {
                        userStatus.innerText = 'Online';
                        userStatus.classList.remove('opacity-50');
                        userStatus.classList.add('text-primary');
                    } else {
                        userStatus.innerText = 'Last seen ' + data.last_seen;
                        userStatus.classList.add('opacity-50');
                        userStatus.classList.remove('text-primary');
                    }
                }
            })
        {% endif %}
    </script>
    <script src="{% static 'js/user-status.js' %}"></script>
{% endblock %}
