{% load cropping general_tags messenger_tags %}

{% if chats %}
    {% for chat in chats %}
        {% if not forloop.first %}
            <div class="divider m-0"></div>
        {% endif %}
        <li><a href="{{ chat.get_absolute_url }}" class="px-2 inline {% if chat_id and chat_id == chat.id %}bg-primary-content{% endif %}">
            <div class="flex items-center gap-3">
                {% get_user_avatar chat.other_user %}
                <div class="flex flex-col w-full gap-1">
                    <div class="flex justify-between items-center">
                        <div class="font-bold">{{ chat.other_user.get_full_name }}</div>
                        <div class="opacity-50">
                            {% if chat.other_user != chat.get_last_message.sender.profile %}
                                {% if chat.get_last_message.seen_at %}
                                    Seen at
                                    {{ chat.get_last_message.seen_at|get_last_message_time_display }}
                                {% elif chat.get_last_message.sent_at %}
                                    Sent at
                                    {{ chat.get_last_message.sent_at|get_last_message_time_display }}
                                {% endif %}
                            {% else %}
                                {{ chat.get_last_message.sent_at|get_last_message_time_display }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="text-sm opacity-50 break-all line-clamp-1">
                            {{ chat.get_last_message.content|strip_tags|slice:100 }}
                        </div>
                        {% if chat.unread_messages %}
                            <span class="badge badge-primary">{{ chat.unread_messages }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a></li>
    {% endfor %}
{% endif %}

{% if global_search_results %}
    <div class="divider">Global search results</div>
    {% for user in global_search_results %}
        {% if not forloop.first %}
            <div class="divider m-0"></div>
        {% endif %}
        <li><a onclick="user_{{ user.id }}_info.showModal()" class="px-2 inline">
            <div class="flex items-center gap-3">
                <div class="avatar">
                    <div class="mask mask-squircle h-12 w-12">
                        <img src="{% cropped_thumbnail user.profile "cropping" scale=1 %}" alt="{{ user.profile.get_full_name }}-avatar"/>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="font-bold">{{ user.profile.get_full_name }}</div>
                    <div class="text-sm opacity-50">@{{ user.username }}</div>
                </div>
            </div>
        </a></li>

        <!-- User information modal -->
        <dialog id="user_{{ user.id }}_info" class="modal">
            <div class="modal-box">
                <form method="dialog">
                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                </form>
                <h3 class="text-lg font-bold">User Information</h3>
                {% include 'messenger/chat-detail.html' with user=user.profile %}
            </div>
            <form method="dialog" class="modal-backdrop">
                <button>close</button>
            </form>
        </dialog>
    {% endfor %}
{% endif %}

{% if not global_search_results and not chats and request.GET.q %}
    <div class="mt-4 flex flex-col items-center gap-2">
        <div class="text-xl font-bold">No Results</div>
        <p>There were no results for "{{ request.GET.q }}"</p>
    </div>
{% endif %}
